/// <summary>
/// Restart the Device
/// </summary>
static void {name}_gx_handler(EventLoopTimer* eventLoopTimer)
{{
    if (ConsumeEventLoopTimerEvent(eventLoopTimer) != 0)
    {{
        lp_terminate(DX_ExitCode_ConsumeEventLoopTimeEvent);
        return;
    }}

    PowerManagement_ForceSystemReboot();
}}